<?xml version="1.0" encoding="UTF-8"?>
<!--Quan ly cac doi tuong beans. de sau nay truyen vao noi khac-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

</beans>